<!doctype html>
<html>
<title>{% block title %} {%endblock %}</title>
<header>
  <script src="{{ url_for('static', filename='sorttable.js') }}"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</header>
<style>
  th, td {
    text-align: left;
  }
  tr:nth-child(even) {background-color: lightgray;}  
  footer {
    padding: 3px;
    font-size: 10px;
  }
  /* Sortable tables */
  table.sortable thead {
      background-color:#eee;
      color:#666666;
      font-weight: bold;
      cursor: default;
  }
  table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE" 
  }
</style>
<body>

  <header>
    {% include "_navigation.html" %}
  </header>
  <br/>
  <div class="content">
      {% block content %} {% endblock %}
  </div>


</body>

<hr class="solid">
<footer>
  <p>Project source, issue report, comments please go to <a href="https://github.com/doublechiang/QMFRacklog">https://github.com/doublechiang/QMFRacklog</a></p></p>
</footer>
</html>

