<!doctype html>
<html>
<title>Rack Logs Query Service</title>
<header>
  <script src="static/sorttable.js"></script>
</header>
<style>
  th, td {
    text-align: left;
  }
  tr:nth-child(even) {background-color: lightgray;}  
  footer {
    padding: 3px;
    font-size: 10px;
  }
  /* Sortable tables */
  table.sortable thead {
      background-color:#eee;
      color:#666666;
      font-weight: bold;
      cursor: default;
  }
  table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE" 
  }
</style>
<body>
<p>QMF Rack Logs Query Service</p>
<img src={{ url_for('static', filename='one-piece-live-action.jpg') }}></img><br/><br/>
<form action={{ url_for('log_query') }} method="post">
    <label>Enter SN number here to query</label>
    <input type="text" name="sn"></input>
    <input type="submit" value="submit"></input>
</form>
<br/>
<br/>

{% if found is not none %}
  {% if found | length == 0 %}
    <p> There is no file matching the SN found.</p>
  {% else %}
    <table class="sortable">
        <tr><th>File</th><th>Size</th><th>Date</th></tr>
          {% for r in found %}
          <tr>
          <td><a href={{ url_for('get_remotef', ip=r['ip'], file=r['file']) }}>{{ r['file'] }}</a></td>
          <td>{{ r['size'] }}</td>
          <td>{{ r['date'] }}</td>
          </tr>
          {% endfor %}
    </table>
  {% endif %}
{% endif %}

</body>

<hr class="solid">
<footer>
  <p>Project source, issue report, comments please go to <a href="https://github.com/doublechiang/QMFRacklog">https://github.com/doublechiang/QMFRacklog</a></p></p>
</footer>
</html>

<!--
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% else %}
  <h1>Hello, World!</h1>
{% endif %}
-->
