{% extends 'base.html' %}

{% block title%} QMF Log Search Service {% endblock %}
{% block content %}

{% if error %}
  {% for e in error %}
  <h2 style="color:red;">{{e}}</h2>
  {% endfor %}
{% endif %}

<!-- <img src={{ url_for('static', filename='one-piece-live-action.jpg') }}></img><br/><br/> -->
<form action={{ url_for('log_query') }} method="post">
  <label>Enter SN number:</label>
    <input type="text" name="sn"></input>
    <input type="submit" value="Search"></input><br/>
</form>
<br/>
<br/>

{% if found is not none %}

  {% if found | length == 0 %}
    <p> There is no file matching the SN found.</p>
  {% else %}
    <table class="sortable">
        <tr><th>File</th><th>Size</th><th>Date</th></tr>
          {% for r in found %}
          <tr>
          <td class="longfn"><a href={{ url_for('get_remotef', ip=r['ip'], file=r['file'], date=r['date']) }}>{{ r['file'] }}</a></td>
          <td>{{ r['size'] }}</td>
          <td>{{ r['date'] }}</td>
          </tr>
          {% endfor %}
    </table>
  {% endif %}

{% endif %}
{% endblock %}
